/*
 * MAIN PROJECT LESS FILE
 */
@import "custom_bootstrap.less";
@import "fonts.less";

@import "objects/top-menu.less";
@import "objects/header.less";
@import "objects/nav.less";
@import "objects/search.less";
@import "objects/footer.less";
@import "objects/home.less";

/*
 * variables
 */

@green: #76b729;
@pheno-gray-e: #eeeeec;
@pheno-gray-c: #c9cac5;
@black: #1d1d1b;
@color-site: #636466;
@color-footer-link: #8c8882;
@color-header-links: inherit;
@color-portlet: #454435;
@color-title: #5b5644;
@color-nav: black;
@color-nav-selected: @green;
@color-footer: @black;

@color-bg-site: white;
@color-bg-content: transparent;
@color-bg-footer: transparent;
@color-bg-header-content: transparent;
@color-bg-header:  transparent;
@color-bg-portlet: transparent;
@color-bg-wrappernav: @pheno-gray-e;
@color-bg-topmenu: black;
@color-bg-footer: @pheno-gray-e;
@color-bg-slideshow: @black;
@color-bg-slideshow-indicators: @pheno-gray-e;
@color-bg-slideshow-active: @green;
@color-bg-slideshow-inactive: @black;
@color-bg-middle-banner: @green;

@color-border-footer: @pheno-gray-c;

@font-family-sans-serif: Klavika, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-breadcrumbs: 14px;
@font-size-portal-siteactions: 10px;
@font-size-title: 24px;
@font-size-title2: 20px;
@font-size-content: 14px;
@font-size-portlet: 14px;
@font-size-footer: 12px;
@font-size-footer-social: 13px;
@font-size-submenu: 13px;

/* global layout */
body #content,
input,
textarea,
select {
  font-size: @font-size-content;
    font-family: @font-family-sans-serif;
}

body, body p, .label{
  color: @color-site;
}
body, body p{
}
.container > .row {
  background-color: @color-bg-site;
}
h1{
  font-size: @font-size-title;
  font-weight: normal;
  color: @color-title;
  letter-spacing: 0; word-spacing: 0.1em;
}
h2{
  font-size: @font-size-title2;
}
#visual-portal-wrapper {
  margin-top: 1em;
}

/* header */
#header-wrapper{
  background-color: @color-bg-header;
  .row{
     background-color: @color-bg-header-content;
  }
  > .row {
    min-height: 130px;
  }
}
#portal-logo-wrapper{
  min-height: 10px;
}
#portal-logo{
  margin-top: 0;
  margin-bottom: 0;
}
#portal-logo img{
  position: absolute;
  z-index: 5;
}
#nolivesearchGadget{
  width: 146px; height: 20px;
  vertical-align: top;
}
#portal-languageselector{
  background-color: transparent;
  max-width: 100%;
}
#portal-globalnav {
  font-size: 100%;
  margin: 0;
  clear: none;
}
#portal-personaltools{
  #anon-personalbar a {
  }
  a{
    font-size: @font-size-footer;
  }
}
.addthis-wrapper{
  width: 100%;
  height: 25px;
}

/*
 * content layout & breadcrumbs
 */
#portal-breadcrumbs{
  margin: 10px 0 10px 0;
  font-size: @font-size-breadcrumbs;

  #breadcrumbs-current{
    border-bottom: 1px solid #bbb;
  }
}

#content{
  background-color: @color-bg-content;
  margin: 0;
  font-size: @font-size-content;
  #content-core,
  #parent-fieldname-description{
    padding: 10px;
  }
  .documentByLine{
    padding-left: 10px;
  }
}
#portal-column-one, #portal-column-two{
  padding-top: 10px;
  padding-top: 10px;
}
#portal-column-one,
#portal-column-two{
  /* TODO: Add all content types here*/
  .contenttype-folder,
  .contenttype-topic,
  .contenttype-plone-site,
  .contenttype-formfolder,
  .contenttype-document{
    background: none;
    padding-left: 0!important;
  }
}
/* content */
#portlets-below, #portlets-above {
  padding: 0 10px;
  .portletWrapper{width: 100%}
}
.template-manage-portlets #portletmanager-plone-leftcolumn{
  margin-top: 50px;
}
.portlet{
  background-color: @color-bg-portlet;
  font-size: @font-size-portlet;
}
#edit-bar {
  border-bottom: none;
  min-height: 26px;
}
#content-views li  a{
  line-height: 21px;
}
#content-views li a:hover,
#content-views li.selected a{
  border-bottom: 2px solid white;
}
#contentActionMenus {
  margin-top: 1px;
  right: 0;
  a:focus, a:hover {
    text-decoration: none;
  }
  dt > a {
    padding: 0.3em;
  }
  dd li {
    a {
      padding: 0.5em;
    }
  }
}
#contentActionMenus  dl {
  margin-bottom: 0px;
}
dl.portlet.portletCollection dd.portletItem{
  padding-bottom: 5px;
}
dl.portlet dt.portletHeader,
div.portletAssignments div.portletHeader {
  background-color: transparent;
  height: 29px;
  padding: 10px 0 0 10px;
}

/* TinyMCE */
body#content.mceContentBody {
  font-size: 14px;
}

/*
 * RESPONSIVE
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
div.searchSection,
#globalnav-wrapper,
#portal-personaltools,
#edit-bar{
  display:none;
}
#portal-logo{
  display: block;
  float: left;
  img{
    display: block;
    position: static;
  }
}

#footer-wrapper {
  margin-top: 15px;
}
#portal-siteactions{
}
#portal-siteactions a{
}
#portal-siteactions li a:hover {
}

/* custom */
/* only extra small devices */
@media (max-width: @screen-xs-max) {
  .documentFirstHeading{
    height: auto;
    background: transparent;
    font-size: 18px;
  }
  /* make some content disappear*/
  #socialtools{
    display: none;
  }
  /* zoom some font sizes*/
  #footer li{
    font-size: 15px;
    padding-top: 5px;
  }
  #nolivesearchGadget{
    width: 228px;
  }
}
/* only small devices */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  div.searchSection,
  #globalnav-wrapper,
  #portal-personaltools,
  #edit-bar{
    display: block;
    #contentActionMenus dl.actionMenu {
    }
  }
}
/* only medium devices */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}
@media print{
}
