#top-banner {
    background: transparent url('../images/banner-top.jpg') no-repeat;
}

#slideshow {
    background-color: @color-bg-slideshow;
    .carousel-indicators {
        display: none;
    }
    .item {
        height: 372px;
        max-height: 372px;
        h2 {
            margin-top: 0;
        }
        img {
            width: auto;
            height: 372px;
            max-height: 372px;
            position: absolute;
            left: 33%;
            top: 0;
            background-color: white;
        }
    }
}

#middle-banner {
    background-color: @color-bg-middle-banner;
    height: 320px;
}

.section-homepage #portal-breadcrumbs {
    display: none;
}
