.section-homepage {
    #content {
        .row {
            margin-bottom: 30px;

            #top-banner {
                padding: 15px;
                background: transparent url('../images/banner-top.jpg') no-repeat;
                background-size: 100% 100%;
                p {
                    color: white;
                    font-style: italic;
                    font-size: 1.7em;
                    line-height: 1.25em;
                }
                a {
                    color: black;
                }
            }

            #slideshow {
                background-color: @color-bg-slideshow;
                .item {
                    & > a:first-child {
                        display: block;
                        float: right;
                        height: 360px;
                        width: 66%;
                    }
                    h2 {
                        margin: 0;
                        .smallborder(@color-title);
                        padding: 16px;
                        a {
                            text-decoration: none;
                        }
                    }
                    img {
                        float: none;
                        width: 100%;
                        margin: 0;
                    }
                    p {
                        color: white;
                        padding-left: 16px;
                    }
                }
                .carousel-indicators {
                    background-color: @color-bg-slideshow-indicators;
                    display: none;
                }
                .carousel-control {
                    background-color: transparent;
                    &:hover {
                        background-color: @color-bg-slideshow-indicators;
                    }
                }
                .carousel-caption {
                    background-color: rgba(0,0,0,0.2);
                    color: white;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding-left: 80px;
                    padding-right: 80px;
                    h2 {
                        margin-top: 0;
                        text-transform: uppercase;
                        padding-bottom: 14px;
                        font-size: 1em;
                        background: url('../images/border-heading.png') no-repeat center bottom transparent;
                    }
                    .documentPublished {
                        font-weight: bold;
                        &:before {
                            content: "> ";
                        }
                    }
                }
                .tile-header {
                    .text-hide();
                    h2 { margin: 0; }
                }
                @media screen and (min-width: @screen-sm-min) {
                    .carousel-indicators {
                        text-align: right;
                        width: 40%;
                    }
                    .carousel-caption {
                        text-align: left;
                        background-color: transparent;
                        width: 30%;
                        top: 0;
                        left: 0;
                        padding-left: 20px;
                        padding-right: 20px;
                        h2 {
                            font-size: 1.7em;
                            background-position: left bottom;
                        }
                    }
                    .carousel-control {
                        &.left {
                          margin-left: @carousel-control-font-size /2;
                          left: 33%;
                        }
                        &.right {
                          margin-right: @carousel-control-font-size /2;
                        }
                    }
                }
                @media screen and (min-width: @screen-md-min) {
                    margin-right: -@grid-gutter-width / 2;
                }
            }

            #sociallinks-tile {
                text-align: center;
                background-color: @pheno-gray-e;
                ul {
                    list-style: none;
                    margin-left: 0;
                }
                li {
                    margin-bottom: 1.5em;
                    a:link {
                        border-bottom: none;
                    }
                }
                @media screen and (min-width: @screen-md-min) {
                    height: 360px;
                    margin-left: -@grid-gutter-width / 2;
                }
                @media screen and (max-width: @screen-sm-max) {
                    li {
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }

            #middle-banner {
                background-color: @color-bg-middle-banner;
                height: 320px;
                td {
                    vertical-align: top;
                }
                h2 {
                    color: @color-portlet;
                    text-transform: uppercase;
                    font-size: 24px;
                    .smallborder(white);
                    margin: 0;
                    padding: 10px 0 0 10px;
                }
                p {
                    padding: 0 10px;
                }
            }

            #navbar-wrapper {
                margin-bottom: 0;
            }

            #portal-breadcrumbs {
                display: none;
            }
            .btn-halo {
                text-transform: uppercase;
            }
            #content a.btn-halo {
                color: black;
            }
        }
    }
}

