#portal-globalnav-bs {
    & > li {
        a {
            padding: 1em 1em 0.5em 1em;
        }
        & > a {
            font-size: 1.1428em;
            text-transform: uppercase;
        }
        .dropdown-menu {
            border-radius: 0;
        }
    }
}

#nolivesearchGadget {
    border: none;
    padding-left: 30px;
    background: url('../images/picto-loupe.png') no-repeat 10px center #FFF;
}

