#navbar-wrapper {
    margin-bottom: 0;
}

#portal-globalnav-bs {
    & > li {
        a {
            padding: 1em 1em 0.5em 1em;
        }
        & > a {
            font-size: 1.1428em;
            text-transform: uppercase;
        }
        .dropdown-menu {
            border-radius: 0;
        }
    }
}

