#nav-wrapper {
    background-color: @color-bg-wrappernav;
    #portal-globalnav {
        background-color: transparent;
        li {
            a {
                background-color: transparent;
                color: @color-nav;
            }
            &.selected {
                a {
                    color: @color-nav-selected;
                }
            }
        }
    }
}